:root{
    --text-color: #1c3440;
    --primary-color: #008DDA;
    --secondary-color: #41C9E2;
    --tertiary-color: #ACE2E1;
    --quaternary-color: #F7EEDD;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    margin: 0px;
    background: var(--quaternary-color);
    overflow: auto;
    color: var(--text-color);
}

button{
    border: none;
    color: var(--text-color);
}

button:active{
    cursor: pointer;
    transform: translateX(2px) translateY(2px);
}

button:hover{
    box-shadow: var(--text-color) 0px 0px 5px 0px;
}

#nav-button{
    font-size: 30px;
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

#nav-button:hover{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px black;

}

.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    transition: width ease-in-out 0.3s;
    max-width: 100%;
    position: fixed;
    z-index: 1;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    max-width: 85%;
    align-items: center;
    height: 100%;
    margin-left: 10%;
}

#mainSection{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 85%;
    max-width: 85%;
    margin: 5% 5% 5% 10%;
}

.nav-show{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    height: 100%;
    transition: ease-in-out 0.3s;
    position: fixed;
    z-index: 1;
}

.nav-open{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    width: 20%;
    background: var(--secondary-color);
    transition: ease-in-out 0.3s;
    position: fixed;
    z-index: 1;
}

#close-icon{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-right: 20px;
}

#close-icon:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.nav-link1{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 40px;
    color: var(--text-color);
    font-size: 20px;
    text-align: start;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.nav-link1:hover{
    cursor: pointer;
    background-size: contain;
    background: var(--tertiary-color);
    transition: ease-in-out 0.15s;
    border-radius: 5px;
}

.active{
    background: var(--primary-color);
    border-radius: 5px;
    text-decoration: underline;
}

.home-image{
    width: 30%;
    filter: hue-rotate(-15deg);
    border-radius: 50px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
}

.emptyImage{
    width: 30%;
    filter: hue-rotate(-15deg);
    border-radius: 50px;
}

section p{
    margin: 20px;
}

#instructions{
    font-size: larger;
    max-width: 70%;
}

#actions{
    background: var(--quaternary-color);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40px;
}

#top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: none;
    width: 95%;
    margin-left: 5%;
}

#actions button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
}

#actions button:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#submit, #clear{
    font-size: 17px;
    padding: 4px 10px 4px 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
}

#download-pdf, #copy, #edit, #delete{
    font-size: 17px;
    padding: 2px 5px 2px 5px;
    margin: 10px;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: fit-content;
    font-weight: bold;
    font-size: 30px;

}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#submit:hover, #clear:hover, #download-pdf:hover, #copy:hover, #edit:hover, #delete:hover{
    cursor: pointer;
    transition: ease-in-out 0.15s;
    color: var(--text-color);
    background-color: var(--secondary-color);
}


#textArea{
    font-size: 17px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: 3px solid var(--primary-color);
    min-height: 300px;
    min-width: 600px;
    max-width: 100%;
}

#templateName{
    font-size:medium;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

#textArea:focus{
    border: 5px solid var(--primary-color);
    outline: none;
}

#textArea::placeholder{
    color: var(--text-color);
}

#storage{
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.progress-container {
    width: 100%;
    background-color: var(--tertiary-color);
    height: 30px;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 30px;
    color: var(--text-color);
    font-weight: bold;
}

.activePage{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#templateDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    min-height: 380px;
    overflow-x: scroll;

}

::-webkit-scrollbar {
    border-radius: 25px;
    color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 35px;
}

::-webkit-scrollbar-track {
    background: var(--tertiary-color);
    border-radius: 0px 0px 35px 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}



.cards{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

.cards h2{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
}

.cards:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    width: inherit;
}

.cards:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: none;
}

#templateDisplayDiv{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.blankCard{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blankCard i{
    color: var(--primary-color);
    font-size: 100px;
    font-weight: bolder;
}

input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 7px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px var(--tertiary-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

input::placeholder{
    color: var(--text-color);
}

input:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: larger;
}

.firstTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.button-card-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--quaternary-color);
}

.button-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
}

.button-card i{
    font-size: 100px;
    font-weight: bolder;
}

.button-card:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
    scale: 1.1;
    border: 3px solid var(--primary-color);
}

#attributeDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.how-to-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-top: var(--secondary-color) 3px solid;
    border-radius: 0px;
}

.how-to-section h2{
    width: 97%;
}

.ToC{
    text-align: center;
}


.how-to-section ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;

}

.switchDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: larger;
}

.light-mode, .dark-mode{
    margin-right: 9px;
    color: var(--primary-color);
}

.templateIcon{
    font-size: 100px;
    color: var(--primary-color);
}

#hiddenRenderTag{
    display: none;
}

.darkModeIcons{
    color: var(--quaternary-color);
    font-size: 100px;
}

.attributeHighlight{
    background: var(--primary-color);
    color: var(--quaternary-color);
    font-weight: bold;
}


