

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    margin: 0px;
    background: var(--quaternary-color);
    overflow: auto;
    overflow-x: hidden;
    color: var(--text-color);
}

button{
    border: none;
    color: var(--text-color);
}

button:active{
    cursor: pointer;
    transform: translateX(2px) translateY(2px);
}

button:hover{
    box-shadow: var(--text-color) 0px 0px 5px 0px;
}

#nav-button, #close{
    font-size: 30px;
    font-weight: bold;
    transition: ease-in-out 0.15s;
}

#nav-button:hover, #close:hover{
    cursor: pointer;
    border-radius: 5px;
    scale: 1.2;
    color: var(--quaternary-color);
    transform: rotate(360deg);
}

#nav-button:active, #close:active{
    transform: translateX(3px) translateY(3px);
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    transition: ease-in-out 0.5s;
    max-width: 50%;
    position: fixed;
    z-index: 1;
    padding-right: 20px;
    padding-left: 0px;
    left: -220px;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    max-width: 85%;
    align-items: center;
    height: 100%;
    margin-left: 10%;
    justify-content: space-between;
}

#mainSection{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 85%;
    max-width: 85%;
    margin: 5% 5% 5% 10%;
}

.howToMain{
    width: 100%;
}

#close-icon{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-right: 20px;
}

#close-icon:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.nav-link1{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 20px;
    text-align: start;
    font-weight: bold;
    padding: 15px 20px 15px 5px;
    text-decoration: none;
    margin-right: 10px;
}

.nav-link1:hover{
    cursor: pointer;
    background-size: contain;
    background: var(--tertiary-color);
    transition: ease-in-out 0.15s;
    border-radius: 5px;
}

.nav-link1:active{
    transform: translateX(2px) translateY(2px);
    background-color: var(--secondary-color);
}

.active{
    background: var(--primary-color);
    border-radius: 5px;
    text-decoration: underline;
}

.home-image{
    width: 30%;
    filter: hue-rotate(-15deg);
    border-radius: 50px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
}

.emptyImage{
    font-size: 300px;
    color: var(--primary-color);
}

section p{
    margin: 20px;
}

#instructions{
    font-size: larger;
    max-width: 70%;
}

#actions{
    background: var(--quaternary-color);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40px;
}

#top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: none;
    width: 95%;
    margin-left: 5%;
}

#actions button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
}

#actions button:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#submit, #clear{
    font-size: 17px;
    padding: 4px 10px 4px 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
}

#copy{
    font-size: 17px;
    padding: 2px 5px 2px 5px;
    border-radius: 10px 0px 0px 10px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    border-right: 2px solid var(--quaternary-color);
    transition: ease-in-out 0.15s;
}

#download-pdf,  #edit{
    font-size: 17px;
    padding: 2px 5px 2px 5px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    border-right: 2px solid var(--quaternary-color);
    transition: ease-in-out 0.15s;
}

#delete{
    font-size: 17px;
    padding: 2px 5px 2px 5px;
    border-radius: 0px 10px 10px 0px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: fit-content;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    transition: ease-in-out 0.15s;
}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 80%;

}

#submit:hover, #clear:hover, #download-pdf:hover, #copy:hover, #edit:hover, #delete:hover{
    cursor: pointer;
    transition: ease-in-out 0.15s;
    color: var(--text-color);
    background-color: var(--secondary-color);
    scale: 1.1;
    border: none;
}

#submit:active, #clear:active, #download-pdf:active, #copy:active, #edit:active, #delete:active{
    transform: translateX(2px) translateY(2px);
    background-color: var(--text-color);
    color: var(--primary-color);
}


#textArea{
    font-size: 17px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: 3px solid var(--primary-color);
    min-height: 300px;
    min-width: 600px;
    max-width: 80%;
}

#templateName{
    font-size:medium;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

#textArea:focus{
    border: 5px solid var(--primary-color);
    outline: none;
}

#textArea::placeholder{
    color: var(--text-color);
}

#storage{
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--tertiary-color);
    height: 30px;
    border-radius: 25px;
    text-align:right;
    overflow: hidden;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 30px;
    color: var(--text-color);
    font-weight: bold;
}

#rightSidePercentage{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: none;
    color: var(--text-color);
}

#tooltip {
    position: fixed;
    background: var(--tertiary-color);
    color: var(--text-color);
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    pointer-events: none;
    white-space: nowrap;
    transition: ease-in-out 0.3s;
}

.activePage{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#templateDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    min-height: 380px;
    overflow-x: scroll;

}

::-webkit-scrollbar {
    border-radius: 25px;
    color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 35px;
}

::-webkit-scrollbar-track {
    background: var(--tertiary-color);
    border-radius: 0px 0px 35px 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}



.cards{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

.cards h2{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
}

.cards:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    width: fit-content;
}

.cards:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: none;
}

#templateDisplayDiv{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.blankCard{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blankCard i{
    color: var(--primary-color);
    font-size: 100px;
    font-weight: bolder;
}


input:not(.target-switch){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 7px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px var(--tertiary-color) inset;
    -webkit-text-fill-color: var(--text-color);
}

input::placeholder{
    color: var(--text-color);
}

input:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
}

#infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: larger;
}

.firstTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.button-card-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--quaternary-color);
}

.button-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: var(--quaternary-color);
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    transition: ease-in-out 0.15s;
}

.button-card i{
    font-size: 100px;
    font-weight: bolder;
}

.button-card:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: var(--text-color);
    scale: 1.1;
    border: 3px solid var(--primary-color);
}

#attributeDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.how-to-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-top: var(--secondary-color) 3px solid;
    border-radius: 0px;
}

.how-to-section h2{
    width: 97%;
    margin-top: 30px;
    color: var(--primary-color);
}

.ToC{
    text-align: center;
}


.how-to-section ul{
    list-style-type: none;
    padding: 0px;
    text-align: center;

}

.switchDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50%;
    margin: 5px;
    font-size: larger;
    transform: translateX(50%);
}

.switchDiv i{
    color: var(--quaternary-color);
}

.light-mode, .dark-mode{
    margin-right: 9px;
}

.templateIcon{
    font-size: 100px;
    color: var(--secondary-color);
}

#hiddenRenderTag{
    display: none;
}

.darkModeIcons{
    color: var(--text-color);
    font-size: 100px;
}

.attributeHighlight{
    background: var(--primary-color);
    color: var(--quaternary-color);
    font-weight: bold;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-top: var(--secondary-color) 3px solid;
    border-bottom: var(--secondary-color) 3px solid;
    border-radius: 0px;
    width: 620px;
}

.contactForm input:focus{
    background-color: var(--tertiary-color);
}

.contactWork{
    margin: 20px;
}

.contactName{
    width: 300px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
}

.contactEmail{
    width: 400px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
}

.contactSubject{
    width: 500px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
}

.contactMessage{
    width: 600px;
    height: 200px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
}

#logo{
    padding-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#logo:hover{
    cursor: pointer;
    transition: ease-in-out 0.15s;
    scale: 1.1;
}

.resource-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-top: var(--secondary-color) 3px solid;
    border-radius: 0px;
    max-width: 80%;
}

.resource-information p{
    margin-top: 30px;
    max-width: 80%;
    text-align: center;
}

.underline{
    text-decoration: underline;
    font-weight: bolder;
}

.resource-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
    border-radius: 0px;
    max-width: 80%;
}

.resource-link{
    max-width: 200px;
    margin: 20px;
    border-radius: 15px;
}

.resource-link:hover{
    cursor: pointer;
    scale: 1.1;
    transition: ease-in-out 0.15s;
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
    border: none;
    border-top: var(--secondary-color) 3px solid;
    border-radius: 0px;
    max-width: 80%;
}

.about-section p{
    margin-top: 30px;
    max-width: 80%;
    text-align: center;
    color: var(--text-color);
}

.about-section h1{
    margin-top: 30px;
    max-width: 80%;
    text-align: center;
    color: var(--primary-color);
}

.about-section strong{
    color: var(--primary-color);
}

.policy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
    max-width: 80%;
    text-align: center;
}

.ToS, .policy-title{
    border-bottom: var(--secondary-color) 3px solid;
    width: 100%;
    padding-bottom: 20px;
    text-align: left;
    padding: 60px 0px 20px 0px;
    font-style: italic;
    color: var(--primary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 115%;
    z-index: 0;
    margin-top: 100px;
  }
  
  .footer a {
    color: var(--quaternary-color);
    text-decoration: none;
    padding-top: 20px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer h5 {
    font-size: 1.25rem;
  }


  .quicklinks, .footerabout, .footercontact{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .quicklinkslinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quicklinkslinks li{
    margin: 10px;
  }
  