:root{
    --primary-color: #008DDA;
    --secondary-color: #41C9E2;
    --tertiary-color: #ACE2E1;
    --quaternary-color: #F7EEDD;
}

body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    margin: 0px;
    background: var(--quaternary-color);
    overflow: auto;
}

#nav-button{
    font-size: 30px;
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

#nav-button:hover{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px black;

}

.nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    transition: width ease-in-out 0.3s;
    max-width: 100%;
    position: fixed;
    z-index: 1;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    align-items: center;
    height: 100%;
    margin-left: 10%;
}

#mainSection{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 85%;
    margin: 5% 5% 5% 10%;
}

.nav-show{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    height: 100%;
    transition: ease-in-out 0.5s;
    position: fixed;
    z-index: 1;
}

.nav-open{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 100%;
    width: 20%;
    background: var(--secondary-color);
    transition: ease-in-out 0.3s;
    position: fixed;
    z-index: 1;
}

#close-icon{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-right: 20px;
}

#close-icon:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 40px;
    color: black;
    font-size: 30px;
    text-align: start;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.nav-link:hover{
    cursor: pointer;
    background-size: contain;
    background: var(--tertiary-color);
    transition: ease-in-out 0.15s;
    border-radius: 5px;
}

.active{
    background: var(--primary-color);
    border-radius: 5px;
    text-decoration: underline;
}

.home-image{
    width: 30%;
    filter: hue-rotate(-15deg);
    border-radius: 50px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
}

.emptyImage{
    width: 30%;
    filter: hue-rotate(-15deg);
    border-radius: 50px;
}

section p{
    margin: 20px;
}

#instructions{
    font-size: larger;
    max-width: 70%;
}

#actions{
    background: var(--quaternary-color);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40px;
}

#top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: none;
    width: 95%;
    margin-left: 5%;
}

#actions button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: white;
}

#actions button:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: black;
}

#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#submit, #clear{
    font-size: 17px;
    padding: 4px 10px 4px 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: white;
}

#download-pdf, #copy, #edit, #delete{
    font-size: 17px;
    padding: 4px 10px 4px 10px;
    margin: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: white;
    width: fit-content;

}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#submit:hover, #clear:hover, #download-pdf:hover, #copy:hover, #edit:hover, #delete:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: black;
}

#textArea{
    font-size: 17px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

#templateName{
    font-size:medium;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

#textArea:focus{
    border: 5px solid var(--primary-color);
    outline: none;
}

#storage{
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.progress-container {
    width: 100%;
    background-color: var(--tertiary-color);
    height: 30px;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 30px;
    color: black;
    font-weight: bold;
}

.activePage{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: black;
}

#templateDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    overflow-x: auto;
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    min-height: 370px;
}

::-webkit-scrollbar {
    border-radius: 25px;
    color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 35px;
}

::-webkit-scrollbar-track {
    background: var(--tertiary-color);
    border-radius: 0px 0px 35px 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}



.card{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
}

.templateImage{
    height: 120px;
    width: 300px;
    overflow: hidden;
}

#templateDisplayDiv{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.blankCard{
    border: 5px solid var(--primary-color);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 150px;
    height: 250px;
    background: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blankCard i{
    color: var(--primary-color);
    font-size: 100px;
    font-weight: bolder;
}

.attribute, #templateName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    font-size: 1.15em;
}

#infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: larger;
}

.firstTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.button-card-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--quaternary-color);
    color: white;
}

.button-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-color);
    color: white;
    width: 200px;
    height: 200px;
    font-size: 20px;
}

.button-card i{
    font-size: 100px;
    font-weight: bolder;
}

.button-card:hover{
    cursor: pointer;
    background: var(--secondary-color);
    transition: ease-in-out 0.15s;
    color: black;
}

#attributeDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}



