<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <script
      src="https://kit.fontawesome.com/f78c6605c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  </head>
  </head>
  <body>
    <nav id="nav" class="nav">
      <i class="fa-solid fa-bars" id="nav-button"></i>
    </nav>
    <main id="mainSection">
      <section id="top-section">
        <div id="storage">
            <div>
                <p>Storage Used</p>
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar"></div>
                </div>
            </div>
        </div>
        <div id="actions">
            <button id="create">create</button>
            <button id="your-templates">Your Templates</button>
        </div>
    </section>
    </main>
    <script src="../index.js"></script>
    <script type="module" src="./Createtemplate.js"></script>
  </body>
</html>


