<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/f78c6605c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="../style.css" />
  </head>
  </head>
  <body>
    <nav id="nav" class="nav">
      <i class="fa-solid fa-bars" id="nav-button"></i>
    </nav>
    <main id="mainSection">
      <div class="switchDiv">
        <label class="form-check-label light-mode" for="flexSwitchCheckChecked"><i class="fa-solid fa-moon"></i></label>
        <div class="form-check form-switch">
          <input class="form-check-input target-switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label dark-mode" for="flexSwitchCheckChecked"><i class="fa-solid fa-sun"></i></label>
        </div>
      </div>
    <h1>Your Templates</h1>
      <section id="top-section">
        <div id="storage">
            <div>
                <p>Storage Used</p>
                <div class="progress-container" id="progress-container">
                    <div class="progress-bar" id="progress-bar"></div>
                </div>
            </div>
        </div>
        <div id="actions">
            <button id="create">create</button>
            <button id="your-templates">Your Templates</button>
        </div>
    </section>
    </main>
    <script type="module" src="../index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="./Createtemplate.js"></script>
  </body>
</html>


